@media(max-width: 768px) {
  .main {
    display: flex;
    flex-direction: column;
    width: 300px;
    margin: 50px auto;
    align-items: center;

    .button-div {
      .addBtn {
        background: #4b4b4b;
        border: 1px solid #444;
        cursor: pointer;
        color: #fff;
        padding: 7px;
        font-size: 1.2em;
        width: 35%;
      }

      .todo {
        padding: 6px;
        font-size: 1.2em;
        margin-right: -5px;
        width: 65%;
      }
    }

    .checkbox-div {
      margin-top: 10px;

      .checkbox-item {
        display: flex;
        justify-content: space-between;
        background: #f2f2f2;
        border-bottom: 1px solid #eaeaea;
        align-items: center;
        font-size: 1.3em;
        word-wrap: break-word;

        .line-through {
          text-decoration: line-through;
        }

        .deleteBtn {
          background: #fe0104;
          cursor: pointer;
          color: #fff;
          border: 1px solid lighten(#000, 50);
          margin-right: 5px;
          font-size: 1.1em;
        }

        .checkbox-input {
          width: 1.5em;
          height: 1.5em;
          color: $black;
          border: 1px solid $gray;
        }

        .text {
          max-width: 200px;
        }

      }
    }

    .clear-div {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      height: 75px;
      width: 150px;
      margin: 10px auto;

      .clearBtn {
        background: #4b4b4b;
        border: 1px solid #444;
        cursor: pointer;
        color: #fff;
        padding: 4px;
        font-size: 1.2em;
        width: 150px;
      }
    }
  }

  .error {
    margin-bottom: 10px;
    height: 20px;
    color: red;
  }

  .header {
    background: #2d2d2d;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
    font-weight: bold;
    height: 80px;
    a {
      color: inherit;
      text-decoration: none;
    }
  }

}
